* {
    margin: 0;
}

.contenedor {
    justify-content: center;
    padding: 3rem;
}

.pokedex {
    display: grid;
    height: 60vh;
    width: 50vw;
}


.barra {
    background: rgb(219, 91, 81);
    border: solid black;
    border-radius: 1rem 1rem 0 0; /* TRBL*/
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
}

.circulo { 
    margin-top: 18px;
    width: 10rem;
    height: 5rem;
    background-color: rgb(255, 0, 0);
    border-radius: 10rem 10rem 0 0;
    border: solid black;
    display: flex;
    justify-content: center;
}

.circulo4 {
    width: 2rem;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10rem 10rem 0 0;
    border: solid black;
    margin-top: 61px;
}

.barra2 {
    background: rgb(219, 91, 81);
    border: solid black;
    border-radius: 0 0 1rem 1rem; /* TRBL*/
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
}

.circulo2 {    
    width: 10rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10rem 10rem;
    border: solid black;
    border-top: rgba(118, 210, 238, 1);
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
}

.circulo3 {
    width: 2rem;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10rem 10rem;
    border: solid black;
    border-top: rgba(118, 210, 238, 1);
}

.infoDex {
    background-color: rgba(118, 210, 238, 0.9);
    margin: 0 0.6rem 0 0.6rem;
}

.displayInfo {
    height: 50vh;
    width: 66vw;
    background-color: rgba(142, 180, 192, 0.295);
    margin: 1rem 1rem 0 1rem;
    display: flex;
    border-radius: 2rem 2rem 0 0;
}

.displayPoke {
    height: 10rem;
    width: 10rem;
    margin: 8rem 2rem 0 2rem; /* TRBL */
}

img {
    width: 10rem;
    height: 10rem;
    background: rgba(140, 240, 170, 0.356);
}

.displayStats {
    height: 45vh;
    width: 50vw;
    background: rgba(140, 195, 240, 0.356);
    margin: 1rem 2rem 0 2rem;
    border-radius: 12px;
}

.buscador {
    background-color: rgba(142, 180, 192, 0.438);
    margin: 0rem 1rem 1rem 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

input {
    border: none;
    background: rgba(255, 255, 255, 0.356);
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(124, 124, 124);
    border-radius: 1rem;
}

.caracteristicas {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-end;    
}
.barras {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-end;
}

#hp, #atk, #def, #satk, #sdef, #spd {
    width: auto;
    height: 1px;
    background-color: rgb(0, 255, 234, 0.7);
    border: solid rgb(0, 247, 255);
}

h1 {
    text-align: center;
}